<%- model_class = Influencer -%>
<div class="page-header">
  <h1>Invitations Pending</h1>
</div>

<div class="page-header">
  <h1>Campaigns Applied &amp; Pending</h1>
</div>

<div class="page-header">
  <h1>Recommended Campaigns</h1>
  <% @recommended_campaigns.each do |campaign| %>
    <%= render partial: 'campaigns/campaign_influencer', locals: {campaign: campaign} %>
  <% end %>
  <div style="text-align:center;"><button class="btn btn-lg btn-success" href="/campaigns">All Campaigns</button></div>
</div>

<div class="page-header">
  <h1>My Previous Campaigns</h1>
  <% @previous_campaigns.each do |campaign| %>
    <%= render partial: 'campaigns/campaign_previous', locals: {campaign: campaign} %>
  <% end %>
</div>
