
<%- model_class = Advertiser -%>
<div class="page-header">
    <h1><%= @advertiser.company_name %></h1>
</div>


<% if !@advertiser.campaigns.empty? %>
    <%= render @advertiser.campaigns %>
<% else%>       
    <%= link_to 'Create Campaign', new_advertiser_campaign_path %>     
<% end %>       
