<div class="col-md-4">
  <div class="panel">
    <div class="panel-body">
      <div style='text-align:center'><img class='profile-pic' src="<%= image_url("campaigns/campaign (#{campaign.id}).jpg")%>" alt="Campaign photo"></div>
      <br>
      <div style='text-align:center'><h3><%= link_to campaign.title, advertiser_campaign_path(campaign.advertiser, campaign)%></h3></div>
      <p>Budget: $<%=campaign.price%></p>
      <div>
        <p style='text-align:center'><a href="#" class="btn btn-danger" role="button">Withdraw Campaign</a>
      </div>
    </div>
  </div>
</div>

