<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3><%= link_to campaign.title, advertiser_campaign_path(campaign.advertiser, campaign)%></h3>
    </div>
    <br>
    <div class="panel-body">
          <p>Budget: $<%=campaign.price%></p>
      <div>
          <p><a href="#" class="btn btn-danger" role="button">Withdraw Campaign</a>
      </div>
    </div>
  </div>
</div>

